<p class="bg-danger">{{error}}</p>
<!-- Markup for lists inside the dropzone. It's inside a seperate template
     because it will be used recursively. The dnd-list directive enables
     to drop elements into the referenced array. The dnd-draggable directive
     makes an element draggable and will transfer the object that was
     assigned to it. If an element was dragged away, you have to remove
     it from the original list yourself using the dnd-moved attribute -->

   <!-- dnd-dragover="dragoverCallback(index, external, type, callback)"
        dnd-drop="dropCallback(event,index, item, external, type,list)"
    dnd-inserted="dropCallback(event,index, item, external, type,list)"
    -->

<script type="text/ng-template" id="list.html">
    <ul dnd-list="list"

    dnd-inserted="dropCallback(event,index, item, external, type,list)"

    >
        <li ng-repeat="item in list"

            dnd-draggable="item"
            dnd-effect-allowed="move"
            dnd-type="item.type"
            dnd-moved="list.splice($index, 1)"
            dnd-selected="models.selected = item"

            ng-class="{selected: models.selected === item}"
            ng-include="item.type + '.html'"
                >
        </li>
    </ul>
</script>

<!-- This template is responsible for rendering a Bloque. It uses
     the above list template to render each container column -->

<!--  Usaremos este elemento para agrupar actividades que se ejecuten en paralelo.
        Se disparan todas juntas
        Su duración sera la duración del comonente que mas dure, del mas largo.
     -->

<script type="text/ng-template" id="bloque.html">
    <div class="container-element box box-orange">

    <div>
        <h3 editable-text="item.nombre" e-form="textBtnForm">
<button type="button" class="btn btn-primary btn-sm {{item.iconClass}}" disabled="disabled" > </button>
        {{item.nombre || "nombre bloque:"}}- Duracion: {{item.duracion}}
       <button class="btn btn-default" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible">
    edit
  </button>
</h3>
</div>

        <div class="column" ng-repeat="list in item.columns" ng-include="'list.html'"  ></div>
        <div class="clearfix"></div>
    </div>
</script>


<!-- This template is responsible for rendering a container element. It uses
     the above list template to render each container column -->
<!--  Usaremos este elemento para agrupar actividades que se ejecuten secuencialmente
        una despues de la otra.
        Su duración sera la suma de los tiempos de cada uno de sus componentes.
     -->
<script type="text/ng-template" id="container.html">
    <div class="container-element box box-blue"
     >
        <h3 editable-text="item.nombre" >
 <button type="button" class="btn btn-primary btn-sm {{item.iconClass}}" disabled="disabled"> </button>
        {{item.nombre || "nombre container:"}} - Duracion: {{item.duracion}}</h3>
        <div class="column" ng-repeat="list in item.columns" ng-include="'list.html'"></div>
        <div class="clearfix"></div>
    </div>
</script>

<!-- Template for a normal list item -->
<script type="text/ng-template" id="item.html">
    <div class="item">Item {{item.id}}</div>
</script>

<!-- Template for tick -->
<script type="text/ng-template" id="tick.html">
    <div class="tick" ng-click="openTickModal('sm',  item)">
   <h5>Tick</h5>
   <button type="button" class="btn btn-lg  center-block" >  <span class="{{item.iconClass}}"></span></button>
   <div class= "itemInformation " >
              <div class="itemInfo1 "
               uib-popover={{item.duracion}} popover-trigger="'mouseenter'">
               <span class="glyphicon glyphicon-time"></span>
              </div>
              <div class="itemInfo1 "
               uib-popover={{item.volumen}} popover-trigger="'mouseenter'">
               <span class="glyphicon glyphicon-volume-up"></span>
              </div>
              <div class="itemInfo1 "
               uib-popover={{item.name}} popover-trigger="'mouseenter'">
               <span class="glyphicon glyphicon-comment"></span>
              </div>
      </div>

    </div>

</script>

<!-- Template for a registro -->
<script type="text/ng-template" id="registro.html">
    <div class="registro" ng-click="openTickModal('sm',  item)">
   <h5>Registro</h5>
   <button type="button" class="btn btn-lg  center-block" >  <span class="{{item.iconClass}}"></span> </button>

   <div class= "itemInformation " >
              <div class="itemInfo1 "
               uib-popover={{item.duracion}} popover-trigger="'mouseenter'">
               <span class="glyphicon glyphicon-time"></span>
              </div>
              <div class="itemInfo1 "
               uib-popover={{item.volumen}} popover-trigger="'mouseenter'">
               <span class="glyphicon glyphicon-volume-up"></span>
              </div>
              <div class="itemInfo1 "
               uib-popover={{item.name}} popover-trigger="'mouseenter'">
               <span class="glyphicon glyphicon-comment"></span>
              </div>
      </div>
</div>
</script>


<!-- Template for a cronometro -->
<script type="text/ng-template" id="cronometro.html">
    <div class="cronometro" ng-click="openTickModal('sm',  item)">
   <h5>Cronometro</h5>
   <button type="button" class="btn btn-lg  center-block" >  <span class="{{item.iconClass}}"></span> </button>

   <div class= "itemInformation " >
              <div class="itemInfo1 "
               uib-popover={{item.duracion}} popover-trigger="'mouseenter'">
               <span class="glyphicon glyphicon-time"></span>
              </div>
              <div class="itemInfo1 "
               uib-popover={{item.volumen}} popover-trigger="'mouseenter'">
               <span class="glyphicon glyphicon-volume-up"></span>
              </div>
              <div class="itemInfo1 "
               uib-popover={{item.name}} popover-trigger="'mouseenter'">
               <span class="glyphicon glyphicon-comment"></span>
              </div>
      </div>

    </div>

</script>

<!-- Template for a normal Imagem -->
<script type="text/ng-template" id="imagen.html">
    <div class="imagen" ng-click="openImagenModal('lg',  item)">
        <h5>Imagen</h5>

                    <img class="imagenx " ng-src="{{item.link}}" alt="Seleccione Imagen" />

   <div class= "itemInformation " >
              <div class="itemInfo1 "
               uib-popover={{item.duracion}} popover-trigger="'mouseenter'">
               <span class="glyphicon glyphicon-time"></span>
              </div>
              <div class="itemInfo1 "
               uib-popover={{item.volumen}} popover-trigger="'mouseenter'">
               <span class="glyphicon glyphicon-volume-up"></span>
              </div>
              <div class="itemInfo1 "
               uib-popover={{item.name}} popover-trigger="'mouseenter'">
               <span class="glyphicon glyphicon-comment"></span>
              </div>
      </div>

    </div>
</script>

<!-- Template for a normal YouTube -->
<script type="text/ng-template" id="youtube.html">
    <div class="youtube" ng-click="openYoutubeModal('lg',  item)">
        <h5>youtube</h5>

  <button type="button" class="btn btnItem center-block " >
      <img class="" src="/images/YouTube_full-color_icon_(2017).svg" ; alt="YouTube" />
        </button>

      <div class= "itemInformation " >
              <div class="itemInfo1 "
               uib-popover={{item.duracionHMS}} popover-trigger="'mouseenter'">
               <span class="glyphicon glyphicon-time"></span>
              </div>
              <div class="itemInfo1 "
               uib-popover={{item.volumen}} popover-trigger="'mouseenter'">
               <span class="glyphicon glyphicon-volume-up"></span>
              </div>
              <div class="itemInfo1 "
               uib-popover={{item.name}} popover-trigger="'mouseenter'">
               <span class="glyphicon glyphicon-comment"></span>
              </div>
      </div>


    </div>
</script>

 <!-- Leer  -->
<script type="text/ng-template" id="leer.html">
  <div class="leer" ng-click="open('sm', 'false', item)">
        <h5>Leer </h5>

       <button type="button" class="btn btn-lg  center-block" >  <span class="{{item.iconClass}}"></span></button>


   <div class= "itemInformation " >
              <div class="itemInfo1 "
               uib-popover={{item.duracion}} popover-trigger="'mouseenter'">
               <span class="glyphicon glyphicon-time"></span>
              </div>
              <div class="itemInfo1 "
               uib-popover={{item.volumen}} popover-trigger="'mouseenter'">
               <span class="glyphicon glyphicon-volume-up"></span>
              </div>
              <div class="itemInfo1 "
               uib-popover={{item.name}} popover-trigger="'mouseenter'">
               <span class="glyphicon glyphicon-comment"></span>
              </div>
      </div>
  </div>
</script>

 <!-- escribir  -->
<script type="text/ng-template" id="escribir.html">
  <div class="escribir" ng-click="open('sm', 'false', item)">
        <h5>escribir</h5>

       <button type="button" class="btn btn-lg  center-block" >  <span class="{{item.iconClass}}"></span></button>


   <div class= "itemInformation " >
              <div class="itemInfo1 "
               uib-popover={{item.duracion}} popover-trigger="'mouseenter'">
               <span class="glyphicon glyphicon-time"></span>
              </div>
              <div class="itemInfo1 "
               uib-popover={{item.volumen}} popover-trigger="'mouseenter'">
               <span class="glyphicon glyphicon-volume-up"></span>
              </div>
              <div class="itemInfo1 "
               uib-popover={{item.name}} popover-trigger="'mouseenter'">
               <span class="glyphicon glyphicon-comment"></span>
              </div>
      </div>
  </div>
</script>

<!-- Template for a audio item -->
<script type="text/ng-template" id="audio.html">
    <div class="audio" ng-click="openAudioModal('lg',  item)">
    <h5>Audio</h5>

    <!-- <p class="texto"><b>name:</b>{{item.name}} </p> -->
 <button type="button" class="btn btn-lg  center-block" > <span class="{{item.iconClass}}"></span> </button>

   <div class= "itemInformation " >
              <div class="itemInfo1 "
               uib-popover={{item.duracion}} popover-trigger="'mouseenter'">
               <span class="glyphicon glyphicon-time"></span>
              </div>
              <div class="itemInfo1 "
               uib-popover={{item.volumen}} popover-trigger="'mouseenter'">
               <span class="glyphicon glyphicon-volume-up"></span>
              </div>
              <div class="itemInfo1 "
               uib-popover={{item.name}} popover-trigger="'mouseenter'">
               <span class="glyphicon glyphicon-comment"></span>
              </div>
      </div>
</div>
</script>

<!-- Template for Spotify item -->
<script type="text/ng-template" id="spotify.html">
    <div class="spotify" ng-click="openSpotifyModal('lg',  item)">
        <h5>Spotify</h5>
 <!--    <p class="texto"><b>search:</b>{{item.search}} </p> -->
        <button type="button" class="btn btnItem center-block " >
      <img class="" src="/images/Spotify_logo_without_text.svg" ; alt="Spotify" />
        </button>
    <!-- <p class="texto"><b>Cantidad Items:</b>{{item.tracks.length}} </p> -->
      <div class= "itemInformation " >
              <div class="itemInfo1 "
               uib-popover={{item.duracionHMS}} popover-trigger="'mouseenter'">
               <span class="glyphicon glyphicon-time"></span>
              </div>
              <div class="itemInfo1 "
               uib-popover={{item.volumenText}} popover-trigger="'mouseenter'">
               <span class="glyphicon glyphicon-volume-up"></span>
              </div>
<!--               <div class="itemInfo1 "
               uib-popover={{item.name}} popover-trigger="'mouseenter'">
               <span class="glyphicon glyphicon-comment"></span>
              </div> -->

      </div>
</div>
</script>

    <div class="nestedDemo row">

<!-- Sidebar -->
<div class="col-md-4">
 <div class="trashcan box box-grey box-padding">
        <!-- If you use [] as referenced list, the dropped elements will be lost -->
        <h3>Herramientas</h3>
        <ul class="btn-group">

          <li>     <button type="button" class="btn btn-default btn-lg" ng-click="save()" uib-popover="Save" popover-trigger="'mouseenter'">
                        <span class="glyphicon glyphicon-floppy-disk"></span> </button>
            </li>

            <li dnd-list="[]">
            <button uib-popover=" Delette" popover-trigger="'mouseenter'" type="button" class="btn btn-default btn-lg" ><span class="glyphicon glyphicon-trash"></span> </button>

            </li>





            <li>
               <div ng-if="models.selected" class="box box-grey box-padding"
                 dnd-draggable="models.selected"
                            dnd-effect-allowed="copy">
                    <h3>Selected</h3>
                    <strong>Type: </strong> {{models.selected.type}}<br>
                    <input type="text" ng-model="models.selected.id" class="form-control" style="margin-top: 5px" />
                </div>
            </li>
        </ul>
    </div>


<div class="toolbox box box-grey box-padding" >
        <h3 data-toggle="collapse" data-target="#Contenedores">Contenedores</h3>
        <div id="Contenedores" class="btn-toolbar collapse " role="toolbar">
         <div class="btn-group">
        <ul >

            <!-- The toolbox only allows to copy objects, not move it. After a new
                 element was created, dnd-copied is invoked and we generate the next id -->
            <li ng-repeat="item in models.templatesConetendores"
                dnd-draggable="item"
                dnd-effect-allowed="copy"
                dnd-copied="item.id = item.id + 1"
                 dnd-dragstart="onDragstart(list, event)"
                  dnd-type="item.type"
                  uib-popover={{item.type}} popover-trigger="'mouseenter'"
                  class="btn-group"
                >
                <button type="button" class="btn btn-primary {{item.iconClass}}" disabled="disabled"> </button>


            </li>

        </ul>
    </div>
    </div>
    </div>


    <div class="toolbox box box-grey box-padding">

        <h3>New Elements</h3>

        <div class="btn-toolbar" role="toolbar">
         <div class="btn-group">
            <ul>
            <!-- The toolbox only allows to copy objects, not move it. After a new
                 element was created, dnd-copied is invoked and we generate the next id -->
            <li ng-repeat="item in models.templates"
                dnd-draggable="item"
                dnd-effect-allowed="copy"
                dnd-copied="item.id = item.id + 1"
                 dnd-dragstart="onDragstart(list, event)"
                  dnd-type="item.type"
                  uib-popover={{item.type}} popover-trigger="'mouseenter'"
                  class="btn-group"
                >
                <!-- <button type="button" class="btn  btn-lg {{item.iconClass}}" disabled="disabled"> </button> -->
        <button type="button" class="btn btn-lg {{item.iconClass}}  " >
            <img class="btn-size " src="{{item.iconSrc}}"  alt="" />
        </button>

            </li>

            </ul>
         </div>
        </div>
    </div>
</div>
<!-- Sidebar -->

<!-- Main area with dropzones and source code -->
<div class="col-md-8 practica">
    <div class="row">
        <div ng-repeat="(zone, list) in models.dropzones" class="col-md-12">
            <div class="dropzone box box-yellow">
                <!-- The dropzone also uses the list template -->
                <!-- <h3>Practica {{zone}}</h3> -->
                <h3>Practica {{nombrePractica}} </h3>
                <div ng-include="'list.html'"></div>
            </div>
        </div>
    </div>
<!--
    <div view-source="nested"></div>

    <h2>Generated Model</h2>
    <pre>{{modelAsJson}}</pre>
</div> -->


</div>
</div>
