<div  class="modal-demo">

        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Audio</h3>
        </div>
        <div class="modal-body" id="modal-body">

<form>
      <SPAN>referencia:</SPAN>

      <input type="text"  ng-model="nombre"  pattern="[a-z]{4,8}" size="10"/>


 <!--  <input type="file" ng-file-select="onFileSelect($files)" multiple> -->
                </form>

<div class="row">
    <div class="col-sm-6">
   <b>Seleccionar Archivo</b><br />
      <input type="file" ng-file-select="onFileSelect($files)" >

         <button class="btn btn-primary" type="button" ng-show="path" ng-click="$ctrl.playAudioFile()">Play</button>
          <span ng-show="duracion">Duracion {{duracion}}  </span>
                <b class="bg-danger" ng-show="error">Error: {{error}}</b><br />

    </div>
    <div class="col-sm-6">
      <b>Grabar</b><br />
<ng-audio-recorder id='audioInput' audio-model='recordedInputjj' show-player="true" >
  <!-- Start controls, exposed via recorder-->
  <div ng-if="recorder.isAvailable">
    <button ng-click="recorder.startRecord()" type="button" ng-disabled="recorder.status.isRecording">
        Start Record
    </button>
    <button ng-click="recorder.stopRecord()" type="button" ng-disabled="recorder.status.isRecording === false">
        Stop Record
    </button>
   Tiempo: {{recorder.elapsedTime}}
<!--     <button ng-click="recorder.playbackRecording()" type="button"
            ng-disabled="recorder.status.isRecording || !recorder.audioModel">
        Play Back
    </button>


    <button ng-click="recorder.save()"
    ng-disabled="recorder.status.isRecording || !recorder.audioModel">
                Download
            </button>
 -->  </div>

  <div ng-if="!recorder.isAvailable">
    Message for users when recording is not possible.
  </div>
  <!-- End controls-->
</ng-audio-recorder>
   <!-- <button ng-click="$ctrl.f1(recordedInputjj)"  >save</button> -->
   <!-- <button ng-click="$ctrl.ok()"  >f21</button> -->





    </div>

</div>

                <!-- <i ng-hide="imageSrc">No image choosed</i>
                <img class="imagenx" ng-src="{{imageSrc}}" alt="Sin Imagen"/><br/> -->
                <b>Progress:</b>
                <progress value="{{progress}}"></progress>




        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-show="okdisponible" ng-click="$ctrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>

        </div>
