/***************************** Dropzone Styling *****************************/

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.nestedDemo .dropzone ul[dnd-list] {
    margin: 0px;
    min-height: 42px;
    padding-left: 0px;
}

.nestedDemo .dropzone li {
    background-color: #fff;
    border: 1px solid #ddd;
    display: block;
    padding: 0px;
}

/**
 * Reduce opacity of elements during the drag operation. This allows the user
 * to see where he is dropping his element, even if the element is huge. The
 * .dndDragging class is automatically set during the drag operation.
 */
.nestedDemo .dropzone .dndDragging {
    opacity: 0.7;
}

/**
 * The dndDraggingSource class will be applied to the source element of a drag
 * operation. It makes sense to hide it to give the user the feeling that he's
 * actually moving it. Note that the source element has also .dndDragging class.
 */
.nestedDemo .dropzone .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be added as child of the dnd-list
 * while the user is dragging over it.
 */
.nestedDemo .dropzone .dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 42px;
}

/***************************** Element Selection *****************************/

.nestedDemo .dropzone .selected .item {
    color: #3c763d;/*verde oscuro*/
    background-color: #dff0d8; /*verde claro*/
}

.nestedDemo .dropzone .selected .box {
    border-color: #d6e9c6; /*verde claro*/
}

.nestedDemo .dropzone .selected .box > h3 { /*verde  otro claro para el titulo*/
    background-color: #dff0d8;
    background-image: linear-gradient(to bottom,#dff0d8 0,#d0e9c6 100%);
    border-color: #d6e9c6;
    color: #3c763d;
}

/***************************** Element type specific styles *****************************/

.nestedDemo .dropzone .item {
    padding: 10px 15px;
}

.nestedDemo .dropzone .container-element {
    margin: 10px;
}

.nestedDemo .dropzone .container-element .column {
    float: left;
    width: 100%;
}

/***************************** Toolbox *****************************/

.nestedDemo .toolbox ul {
    cursor: move;
    list-style: none;
    padding-left: 0px;
}

.nestedDemo .toolbox button {     /*Define los botones de las herramientas*/
    margin: 3px;
    opacity: 1;
    width: 50px;
    height: 50px;
      float: left;
}

.nestedDemo .toolbox .dndDragging {
    /*background-color: red;*/
    opacity: 0.5;
}

.nestedDemo .toolbox .dndDraggingSource {
    opacity: 1.0;
     /*background-color: red;*/
}

/***************************** Trashcan *****************************/

.nestedDemo .trashcan ul {
    list-style: none;
    padding-left: 0px;
}

.nestedDemo .trashcan img {
    width: 100%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}

.nestedDemo .trashcan .dndDragover img {
    width: 100%;
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.nestedDemo .trashcan .dndPlaceholder {
    display: none;
}

.btn.disabled,
.btn[disabled]{
    pointer-events: none;
}

.item{
    background-color: red;
    margin: 5px;

}

.imagenx{
    height: 48px;
    width: 48px;
    margin: 5px;
     border-radius: 10%;

        border: 1px solid #fff;
margin-top:0;



}





.itemIcon{
     width: 32px; /* Set a specific slider handle width */
    height: 32px; /* Slider handle height */
    border-radius: 5%;
      /*background-color: red;*/
      /*margin-left: 32px;*/
      margin: auto;
       /*color: #fff;*/
       color: green;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;

}

.itemInformation{
     width: 90%;  /*Set a specific slider handle width */
    /*height: 8px;*/ /* Slider handle height */
    border-radius: 5%;
      background-color: transparent;
       /*margin: 8px;*/
      margin:0 auto;
     /*  color: #fff;
    text-shadow: 1px 1px 1px #ccc*/;
    /*font-size: 1.5em;*/

  /*display: inline-block;*/
/*FlexBox*/

}
.itemInfo1 {
  width: 25%;
   /*float:left;*/
   /*width:24px;*/
height:24px;
     /*margin:0 auto;*/
   /*background-color: blue;*/
   display: inline-block;
 margin:2px;
    /*border: 3px solid #73AD21;*/
}

/*--------------------------------------------------*/
/* Estas clases se usa para la lista de herramientas*/
/*--------------------------------------------------*/

.btn-size{      /*Se usa para determinar el tamaño de los iconos de Spotify y youTube*/
   width:40px;
  height:40px;
  padding: 0px;
  margin: 0px;
}

.btn-spotify{
  background:#1EA62A;
  border-color: #1EA62A;
}


.toolbox .btn-spotify{   /*Con esta combinacion se ajusta el padding y margin de estos botones de herramientas*/
  padding: 0px;
  margin: auto;
}

.toolbox .btn-youtube{ /*Con esta combinacion se ajusta el padding y margin de estos botones de herramientas*/
  padding: 0px;
  margin: auto;
}
.btn-youtube{           /*Las clases btn-xxxx se colocan el apramarpractiva.js para que se puedan modificar segun el caso*/
  background: #FF790BE7;
  border-color: #FF790BE7;
  margin: auto;
   width:48px;
  height:48px;
}

.btn-imagen{
  background: slateblue;
  margin: auto;
}

.btn-audio{
  background: dodgerblue;
  margin:auto ;
}

.btn-leer{
  background: tomato;
  margin: auto;
}

.btn-escribir{
  background: brown;
}

.btn-tick{
  background: pink;
}

.btn-cronometro{
  background: magenta;
}

.btn-registro{
  background: orange;
}

/*--------------------------------------------------------*/
/*-------------Templates de la dropzone-------------------*/
/*--------------------------------------------------------*/

.btnItem{
  margin: auto;
  padding: 0px;

}

/*Cada Template tiene su clase que determina el tamaño y color general*/
.spotify , .youtube, .audio, .leer, .escribir, .imagen, .tick, .cronometro, .registro {

  margin: 5px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 96px;
  width: 96px;
  border-radius: 8px;

}
/*Cada Template tiene su titlo en un h5 que determina el tamaño y posiciones generales */
.spotify h5, .youtube h5, .audio h5, .leer h5, .escribir h5, .imagen h5, .tick h5, .cronometro h5, .registro h5 {

text-align: center;
font-weight: bold;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
margin-top:0;
}

/* Aqui van las caracteristicas particulares */

.spotify img, .youtube img {        /*Tamaño de la imagen interior*/
  width:48px;
  height:48px;

}

.spotify h5{                    /*Color del titulo*/
background-color: #1ED760;
}

.youtube h5{                    /*Color del titulo*/
background-color: #E42B26;
}

.audio h5{                      /*Color del titulo*/
background-color: dodgerblue;
}

.leer h5{                      /*Color del titulo*/
background-color: tomato;
}

.escribir h5{                   /*Color del titulo*/
background-color: brown;
}

.tick h5{                       /*Color del titulo*/
background-color: pink;
}

.cronometro h5{                 /*Color del titulo*/
background-color: magenta;
}

.registro h5{                   /*Color del titulo*/
background-color: orange;
}

.spotify button, .youtube button{   /*Color del Boton*/
  background-color: transparent;
}

.audio button{                      /*Color del Boton*/
background-color: dodgerblue;
}

.leer button{                      /*Color del Boton*/
background-color: tomato;
}

.escribir button{                  /*Color del Boton*/
background-color: brown;
}

.tick button{                      /*Color del Boton*/
background-color: pink;
}

.cronometro button{                 /*Color del Boton*/
background-color: magenta;
}

.registro button{                   /*Color del Boton*/
background-color: orange;
}
